# Configuração do Banco de Dados PostgreSQL
# Exemplo: postgres://usuario:senha@localhost:5432/nome_do_banco
DATABASE_URL=postgres://seu_usuario:sua_senha@localhost:5432/idvzap_db

# Configuração do Banco de Dados PostgreSQL
# Exemplo: postgres://usuario:senha@localhost:5432/nome_do_banco
DATABASE_URL=postgres://postgres:229679128ca65433331c@72.60.149.193:3360/extensao

# Segredo para assinar os tokens JWT (altere para algo seguro em produção)
JWT_SECRET=sua_chave_secreta_aqui

# Porta do servidor (opcional, padrão 3000)
PORT=3000
